* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, Arial, sans-serif;
  transition-duration: 1s;
}

body {
  height: 100dvh;
  color: #fff;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: color-mix(in srgb, #000 100%, #fff 1%);
  height: 80px;
  padding: 0 20px;
  top: 0;
  position: sticky;
}

.button {
  border-radius: 30px;
  box-sizing: content-box;
  border: 1px solid #4e4e4e;
  background-color: transparent;
  width: 20px;
  padding: 10px;
}

.header__youtube-logo {
  width: 100px;
  filter: invert(1);
}

.header__searcher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0;
}

.searcher__search-input {
  border-radius: 200px;
  border: none;
  background-color: transparent;
  color: #fff;
  outline: none;
  display: none;
  margin-left: 15px;
}

.header__searcher:hover {
  .searcher__search-input {
    display: block;
  }
}

.searcher__search-button {
  width: 20px;
  box-sizing: content-box;
  border-radius: 50%;
  padding: 10px;
}

.header__profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

/* Main content */

.main-content {
  display: flex;
  height: calc(100dvh - 80px);
}

/* Aside */

.aside {
  flex: 1;
  height: 100%;
  background-color: #000;
  padding: 20px;
  display: inline-block;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-color: #4e4e4e transparent;
  scrollbar-width: thin;
  flex-shrink: 0;
}

.aside__section {
  margin: 10px 0;
}

.section__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.section__item {
  padding: 5px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.section__item:hover {
  background-color: #333;
}

.item__p {
  font-weight: 100;
}

.aside__divider {
  color: #fff;
}

.item__img {
  width: 1rem;
  height: 1rem;
}

.footer__p {
  font-weight: 100;
}

/* Main */

.main {
  flex: 5;
  height: 100%;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: #4e4e4e transparent;
  scrollbar-width: thin;
  background-color: #000000;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* Videos Section */

.section--videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 1fr;
  gap: 10px;
  padding: 10px 0;
}

.card--video {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px #0000001f;
  transition: transform 0.2s, box-shadow 0.2s;
}

.img--video {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.title--video {
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  margin-top: 5px;
}

.autor--video {
  font-size: 0.95rem;
  font-weight: 400;
  color: #ccc;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Shorts Section */

.section--shorts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: repeat(1, minmax(400px, 1fr));
  grid-auto-flow: column;
  gap: 10px;
  padding: 10px 0;
  height: fit-content;
  overflow-x: auto;
  scrollbar-width: thin;
  flex-shrink: 0;
}

.card--short {
  background: linear-gradient(to bottom, #0004 60%, #000 100%),
    url("../../../../../Resources/Images/Dhrelkan.png") no-repeat center center / cover;
  height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 1023px) {
  aside {
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item__p {
    display: none;
  }


  .section__title {
    display: none;
  }


  .section__item {
    justify-content: center;
  }


  .item__img {
    width: 1.5rem;
    height: 1.5rem;
  }


  .aside__divider {
    border: none;
    height: 1px;
    background-color: #444;
    margin: 10px 0;
  }

  .aside__footer {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  aside {
    width: 10px;
  }
  .item__img {
    width: 1.2rem;
    height: 1.2rem;
  }
}
